
/* document */
body{
    position: absolute;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

section{
    padding: 40px 15%;
    scroll-margin-top: 60px;
}

h2{
    color: #6f4b5d;
    font-variant: all-petite-caps;
    font-size: 1.8em;
    margin-top: 0;
}
h3{
    color: #6f4b5d;
    font-variant: all-petite-caps;
    font-size: 1.4em;
    margin-top: 0;
}
img{
    width: 100%;
}
footer{
    padding: 60px 10% 20px;
    color: white;
    background-color: #6f4b5d;
}
footer a{
    color: white;
}
footer .team-link{
    background-color: #f7c74b;
    box-shadow: none;
}

/* sticky nav */
.sticky-wrapper{
    position: sticky;
    top: 0;
}
.sticky{
    background-color: #6b8e69;
    height: 60px;
    align-items: center;
    padding: 0 10%;
}
.navigation-link{
    height: fit-content;
    color: whitesmoke;
    text-decoration: none;
}
.navigation-link:hover{
    color: white;
    text-decoration: underline;
}

.first-section{
    height: calc(100vh - 60px);
    padding: 10px 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background: url(/assets/images/COUVERTURE.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.first-section-title{
    font-size: 1.2em;
    position: relative;
    top: -25px;
}
.first-section-logo>img{
    max-width: 300px;
}
.top-icon{
    color: white;
    font-size: 3em;
    padding: 0 20px;
}


#objectifs ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
/* .objectifs li{
    padding: 25px;
    border: 1px solid #6f4b5d;
} */
.objectifs-nb{
    display: inline;
    text-align: start;
    font-size: 1.3em;
    font-style: italic;
    color: #6f4b5d;
    /* padding-bottom: 10px; */
    padding-right: 10px;
}

.ouverture{
    color: white;
    background-color: #6f4b5d;
    font-size: 1.5em;
    text-align: center;
}
.ouverture span{
    display: block;
    font-size: 0.9em;
    font-style: italic;
    padding-top: 7px;
}


.team-link{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4em;
    background-color: #6b8e69;
    box-shadow: 0 3px 3px 3px lightgray;
    border-radius: 20px;
    padding: 10px 25px 7px;
    text-decoration: none;
    margin: 40px 70px;
}
.team-link:hover{
    color: white;
    text-decoration: underline;
}
.bg-yellow{
    color: rgb(45, 45, 45);
    background-color: #f7c74b;
}
.team-link.bg-yellow:hover{
    color: rgb(45, 45, 45);
}

footer .team-link{
    margin: 0;
}

.yellow-spacer{
    width: 100%;
    height: 80px;
    background-color: #f7c74b;
}
.yellow-spacer-tin{
    height: 30px;
}
.yellow-line{
    width: 50%;
    border: 1px solid #f7c74b;
    margin: auto;
}
.team-img-container{
    max-height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}
.team-img-container >img{
    width: 100%;
}
#l-equipe{
    padding: 40px 15% 0;
}
.encart{
    /* font-size: 14px; */
    padding: 15px;
    border: 1px solid rgb(50, 50, 50);
    /* color: #6f4b5d; */
}
.encart p{
    margin-bottom: 7px;
}
.encart a{
    color: #5f4050;
}